<!DOCTYPE html>
<html lang="se">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/style.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <main>
        <!--Sidhuvud-->
    <header class="mainheader" id="mainheader">
        <a href="/Index">
            <img src="logo.png" width="300" alt="Logotyp" id="logo"/>
        </a>
        <div class="datebox" id="datebox">
            <p>Dagens datum är: 
            @{
                var now = DateTime.Now;
                string nowstring = now.ToShortDateString();
                @nowstring;
             }
            </p>
        </div>
    </header>

    <!--Div för meny och innehåll-->
    <div class="navcontentdiv">
        <!--Huvudmeny-->
        <nav class="mainnav" id="mainnav">
        <button id="mobilemenubtn">Meny</button>
        <ul id="mobilemenuul">
            <li>
                <a href="/Index">Startsida</a>
            </li>
            <li>
                <a href="/Razor">Razor</a>
            </li>
            <li>
                <a href="/About">Om sidan</a>
            </li>
        </ul>
        </nav>

    <!--Div för innehåll-->
    <div class="content" id="content">
        <!--Skriv ut dynamiskt sidspecifikt innehåll-->
        @RenderBody()
    </div>
    </div>

    <!--Sidfot-->
    <footer>
        <p>Av Simon Andersson - kontakta mig via e-post: <a href="mailto:sian2001@student.miun.se">sian2001@student.miun.se</a></p>
    </footer>
    </main>

    <!--JavaScript-->
    <script src="js/main.js"></script>
</body>
</html>