@page
@model DT191G___Moment_1._2.Pages.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<h1>Om sidan</h1>

<p>
    Jag som har skapat den här webbplatsen heter Simon Andersson och studerar sista terminen på webbutvecklingsprogrammet vid Mittuniversitetet. Den här webbplatsen är en uppgift i kursen DT191G - Webbutveckling med .NET.
    <br /><br />
    Den här sidan är skapat med ASP.NET Core med hjälp av utvecklingsmiljön Visual Studio 2022 för Windows.
    <br /><br />
    Innehållet på webbplatsen är delvis dynamiskt genererad med hjälp av Razor, som kombinerar statisk html-kod med dynamisk C#-kod.
</p>