@page
@model DT191G___Moment_1._2.Pages.IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<h1>Startsida</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id laoreet sem, ac posuere sem. Sed elementum fringilla ultrices. Praesent nibh augue, pellentesque quis est eget, pellentesque ullamcorper sapien. Nam id lobortis tellus. Aliquam sed aliquam lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus venenatis porta bibendum. Vestibulum egestas dapibus est a vestibulum. In eget vestibulum nunc. Maecenas rutrum dapibus euismod.
<br /><br />
Morbi tincidunt pellentesque arcu sit amet pulvinar. Nunc at quam et turpis molestie tempus sed et quam. Donec eget pulvinar tellus. Aliquam ornare ipsum consequat ex dignissim fringilla. Pellentesque eget luctus metus. Donec porta est in mauris rhoncus, eget porta quam tristique. Vestibulum venenatis, est ut viverra mattis, risus est maximus nulla, quis scelerisque ligula tellus sed sem. Ut varius enim ut laoreet ullamcorper. Duis hendrerit ante mattis lacus dapibus fringilla.</p>