@page
@model DT191G___Moment_1._2.Pages.RazorModel
@{
    ViewData["Title"] = "Razor";
}

<h1 id="razorh1">Razor</h1>
<p id="razorphl"><strong>Information</strong></p>
<p><strong>Datum/klockslag: </strong>
@{
    // Hämta aktuellt datum och tid
    var now = DateTime.Now;
    // Konvertera till sträng
    string nowstring = now.ToString();
    // Skriv ut datum och tid från strängen
    @nowstring;
}    
</p>
@{
    // Hämta dagens veckodag
    var today = DateTime.Now.DayOfWeek;
    // Lagra dagens veckadag som sträng
    string weekday = today.ToString();
    // Skapa tom strängvariabel för meddelande att skriva ut
    string message;
    // Kontrollera om veckodagen idag är en måndag
    if(weekday == "Monday")
    {
        message = "Idag är det måndag!";
    } else
    {
        message = "Idag är det inte måndag!";
    }
}
<br />
<p>
    <!--Skriv ut meddelande om veckodag-->
    @message
</p>

<br />

@{
    // Lagra alla genomförda kurser i array
    string[] listInput =
                    {
                "DT057G, Webbutveckling I",
                "DT084G, Introduktion till programmering i JavaScript",
                "GD008G, Typografi och form för webb",
                "DT163G, Digital bildbehandling för webb",
                "DT093G, Webbutveckling II",
                "DT003G, Databaser",
                "DT152G, Webbdesign för CMS",
                "DT068G, Webbanvändbarhet",
                "IK060G, Projektledning",
                "DT173G, Webbutveckling III"
            };

    // Skapa ny lista och för in arrayens värden i listan
    List<string> courses = new List<string>(listInput);
    }
    <p><strong>Kurser jag läst:</strong></p>
    <ul>
    @{
    // Loopa igenom alla kurser ur listan
    foreach(string course in courses)
    {
        <li>@course</li>;
    }
    }
    </ul>